<template>
  <div class="form-group">
    <label :for="id" class="form-group_label">{{label}}</label>
    <select class="form-control" :id="id" @input="changeValue($event.target.value)">
      <option v-for="(cat, i) in categories" :key="i">{{cat}}</option>
    </select>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    modelValue: {
      type: String
    },
    label: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      categories: 'categories'
    })
  },
  methods: {
    changeValue(val) {
      this.$emit('update:modelValue', val)
    }
  }
}
</script>

<style lang="scss">
</style>