<template>
  <div class="form-group">
    <label :for="id" class="form-group_label">{{label}}</label>
    <textarea :id="id" @input="changeValue($event.target.value)" class="form-control" rows="6" :placeholder="placeholder"></textarea>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    modelValue: {
      type: String
    },
    label: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    }
  },
  methods: {
    changeValue(val) {
      this.$emit('update:modelValue', val)
    }
  }
}
</script>

<style lang="scss">
</style>