<template>
  <div class="form-group">
    <label :for="id" class="form-group_label">{{label}} <span class="form-group_required" v-if="required">*</span></label>
    <input 
      :type="type" 
      @input="changeValue($event.target.value)" 
      :id="id" 
      step="0.01"
      :required="required" 
      class="form-control" 
      :placeholder="placeholder" 
      minlength="2"
    >
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'text'
    },
    modelValue: {
      type: String
    },
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    changeValue(val) {
      this.$emit('update:modelValue', val)
    }
  }
}
</script>

<style lang="scss">
.form-group{
  margin-bottom: 0.8rem;
  text-align: left;
  &_label{
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    font-size: 0.8571rem;
    letter-spacing: 0.8px;
  }
  &_required{
    color: red;
  }
  .form-control{
    height: auto;
    padding: 1.14rem 0.8rem;
    font-size: 1.143rem;
    letter-spacing: 0.4px;
    &::placeholder{
      color: rgba(102, 102, 102, 0.47);
    }
  }
  &_pass{
    &_wrap{
      position: relative;
    }
    &_icon{
      position: absolute;
      right: 1.2rem;
      top: 54%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
</style>