<template>
  <div class="form-group">
    <label :for="id" class="form-group_label">{{label}}</label>
    <input type="file" ref="file" :id="id" @input="addPhoto" class="form-control-file" accept=".png, .jpg, .jpeg">
    <div class="file_input rounded p-3 border">
      <span class="file_input__add rounded" @click="$refs.file.click()">
        <img class="file_input__img" :src="imgUrl" alt="img" v-if="imgUrl">
      </span>
      <span class="file_input__name ml-3" v-if="imageData">{{imageData.name}}</span>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import "firebase/storage"

export default {
  props: {
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    required: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      imgUrl: null,
      imageData: null,
    }
  },
  methods: {

    addPhoto(e) {
      this.$emit('loadPhoto')
      this.imgUrl=null;
      this.imageData = e.target.files[0];
      this.uploadImg()
    },
    uploadImg(){
      firebase.storage().ref(this.imageData.name + this.$store.state.user.id).put(this.imageData)
      .then((snapshot) => {
        snapshot.ref.getDownloadURL().then((url)=>{
          this.imgUrl = url
          this.$emit('addPhoto', url)
        })
      })
      .catch(error => {
        console.log(error.message)
      })
    },
  }
}
</script>

<style lang="scss">
.file_input{
  display: flex;
  align-items: center;
  &__add{
    position: relative;
    display: inline-block;
    width: 92px;
    height: 92px;
    background-color: #E4E4E4;
    &:before, &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      width: 38px;
      height: 4px;
      border-radius: 4px;
      background-color: #349A89;
      transform: translate(-50%, -50%);
    }
    &:after{
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.form-control-file{
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
</style>