<template>
  <div class="form-group">
    <label :for="id" class="form-group_label">{{label}} <span class="form-group_required" v-if="required">*</span></label>
    <div class="form-group_pass_wrap">
      <icon-eye class="form-group_pass_icon" @click="togglePassType"></icon-eye>
      <input :type="type" @input="changeValue($event.target.value)"  :id="id" :required="required" class="form-control form-control-lg" minlength="2">
    </div>
  </div>
</template>

<script>
import IconEye from '@/components/icons/IconEye'
export default {
  components: {
    IconEye
  },
  props: {
    id: {
      type: String,
      required: true
    },
    modelValue: {
      type: String
    },
    label: {
      type: String,
      default: 'Password',
      required: true
    },
    required: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      type: 'password'
    }
  },
  methods: {
    togglePassType() {
      this.type = this.type == 'text' ? 'password' : 'text'
    },
    changeValue(val) {
      this.$emit('update:modelValue', val)
    }
  }
}
</script>

<style>

</style>