<template>
  <div class="add_product entry">
    <div class="row flex-column align-items-center">
      <entry-card title="Add product" @submit.prevent="addProduct">
        <form-group 
          id="prodTitle"
          v-model="title"
          type="text"
          label="Title"
          placeholder="For example: Iron man suit"
          :required="true"
        ></form-group>

        <form-group 
          id="prodLocation"
          v-model="location"
          type="text"
          label="Location"
          placeholder="For example: Los Angeles, CA"
          :required="true"
        ></form-group>
        
        <form-select 
          id="prodCategory"
          v-model="category"
          label="Category"
        ></form-select>

        <form-text-area 
          id="prodDescr"
          v-model="descr"
          label="Description"
          placeholder="For example: Iron man suit"
        ></form-text-area>

        <form-photo 
          @add-photo="addPhoto"
          @load-photo="loadPhoto"
          id="prodPhoto"
          label="Photos"
        ></form-photo>

        <form-group 
          id="prodPrice"
          v-model="price"
          type="number"
          label="Price"
          placeholder="For example: $984.05"
          :required="true"
        ></form-group>

        <button class="btn btn-primary btn-block" type="submit" :disabled="isLoad">SUBMIT</button>
      </entry-card>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import "firebase/firestore"

import EntryCard from '@/components/EntryCard'
import FormGroup from '@/components/form/FormGroup'
import FormSelect from '@/components/form/FormSelect'
import FormTextArea from '@/components/form/FormTextArea'
import FormPhoto from '@/components/form/FormPhoto'

export default {
  components: {
    EntryCard,
    FormGroup,
    FormSelect,
    FormTextArea,
    FormPhoto
  },
  data() {
    return {
      title: '',
      location: '',
      category: 'cat1',
      descr: '',
      price: '',
      imgUrl: null,
      alerts: [],
      isLoad: false
    }
  },
  methods: {
    addPhoto(url) {
      this.imgUrl = url
      this.isLoad = false
    },
    loadPhoto() {
      this.isLoad = true
    },
    addProduct() {
      firebase.firestore().collection("products").add({
        title: this.title,
        location: this.location,
        category: this.category,
        descr: this.descr,
        price: this.price,
        imgUrl: this.imgUrl,
        timestamp: firebase.firestore.FieldValue.serverTimestamp()
      })
      .then((docRef) => {
        console.log("Document written with ID: ", docRef.id);
        this.$router.replace({ name: 'Home' });
      })
      .catch(function(error) {
        console.error("Error adding document: ", error);
      });
    }
  }
}
</script>

<style lang="scss">
.add_product{
  margin-top: 3%;
  .entry_card{
    max-width: 1136px;
    padding-top: 2.4rem;
    padding-left: 20.5%;
    padding-right: 20.5%;
    @media screen and (max-width: 767px) {
      padding-left: 4%;
      padding-right: 4%;
    }
  }
  .btn{
    max-width: 377px;
    margin: 2.3rem auto 0.7rem;
  }
  .form-group{
    margin-bottom: 1.4rem;
    .form-control {
      padding-left: 1.4rem;
      padding-right: 1.4rem;
    }
  }
}
</style>
