<template>
  <div class="favourite">
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-lg-9">
        <div class="row products_row mt-3">
          <product-item v-for="item in productsLove" :key="item.id" :product="item"></product-item>
          <h3 v-if="products.length && productsLove.length == 0">Sorry) You don`t have favourites products.</h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductItem from '@/components/ProductItem'

import { mapGetters } from 'vuex'

export default {
  components: {
    ProductItem
  },
  computed: {
    ...mapGetters({
      products: 'products',
      favourites: 'favourites'
    }),
    productsLove() {
      return this.products.filter((elem) => {
        return this.favourites.indexOf(elem.id) != -1 ? true : false
      })
    }
  }
}
</script>

<style>
.products_row{
  margin-bottom: 10%;
}
</style>