<template>
  <div class="home">
    <div class="row justify-content-center mt-4">
      <div class="col-12 col-lg-9">
        <main-filters></main-filters>
        <products-row></products-row>
      </div>
    </div>
  </div>
</template>

<script>
import MainFilters from '@/components/MainFilters'
import ProductsRow from '@/components/ProductsRow'

export default {
  name: 'Home',
  components: {
    MainFilters,
    ProductsRow
  }
}
</script>
