<template>
  <div class="log_in entry">
    <div class="row flex-column align-items-center">
      <entry-card title="Login" @submit.prevent="checkForm">
        <form-group 
          id="userEmail"
          v-model="email"
          type="email"
          label="Email"
          placeholder="Example@gmail.com"
          :required="true"
        ></form-group>
        <form-password 
          id="userPassword"
          v-model="pass"
          label="Password"
          :required="true"
        ></form-password>
        <router-link to="/" class="forget_pass form-text text-muted text-right">Don’t remember password?</router-link>
        <button class="btn btn-primary btn-block" type="submit">Continue</button>
        <p class="alert alert-danger" role="alert" v-for="(err, i) in alerts" :key="i">{{err}}</p>
      </entry-card>
      <entry-card>
        <p class="entry_card_descr">I have no account, <router-link to="/sign-up">REGISTER NOW</router-link></p>
      </entry-card>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import "firebase/auth"

import EntryCard from '@/components/EntryCard'
import FormGroup from '@/components/form/FormGroup'
import FormPassword from '@/components/form/FormPassword'

export default {
  components: {
    EntryCard,
    FormGroup,
    FormPassword
  },
  data() {
    return {
      email: '',
      pass: '',
      alerts: []
    }
  },
  methods: {
    checkForm() {
      this.alerts = []
      
      firebase.auth().signInWithEmailAndPassword(this.email, this.pass)
        .then(() => {
          this.$router.replace({ name: 'Home' });
        })
        .catch(err => {
          this.alerts.push(err.message)
        });
    }
  }
}
</script>

<style lang="scss">
.entry{
  margin-top: 5.7%;
  margin-bottom: 5%;
}
.forget_pass{
  margin-top: -0.6rem;
  margin-bottom: 0.9rem;
  letter-spacing: 0.3px;
  font-size: 1rem;
}
</style>