<template>
  <div class="sign_up entry">
    <div class="row flex-column align-items-center">
      <entry-card title="Register" @submit.prevent="checkForm">
        <form-group 
          id="userEmail"
          v-model="email"
          type="email"
          label="Email"
          placeholder="Example@gmail.com"
          :required="true"
        ></form-group>
        <form-group 
          id="userName"
          v-model="name"
          label="Full name"
          placeholder="Tony Stark"
          :required="true"
        ></form-group>
        <form-password 
          id="userPassword"
          v-model="pass"
          label="Password"
          :required="true"
        ></form-password>
        <form-password 
          id="userPasswordAgain"
          v-model="pass2"
          label="Password again"
          :required="true"
        ></form-password>
        <button class="btn btn-primary btn-block" type="submit">Register</button>
        <p class="alert alert-danger" role="alert" v-for="(err, i) in alerts" :key="i">{{err}}</p>
      </entry-card>
      <entry-card>
        <p class="entry_card_descr">I have account, <router-link to="/log-in">LOGIN</router-link></p>
      </entry-card>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import "firebase/auth"

import EntryCard from '@/components/EntryCard'
import FormGroup from '@/components/form/FormGroup'
import FormPassword from '@/components/form/FormPassword'

import { mapMutations } from 'vuex'

export default {
  components: {
    EntryCard,
    FormGroup,
    FormPassword
  },
  data() {
    return {
      email: '',
      name: '',
      pass: '',
      pass2: '',
      alerts: []
    }
  },
  methods: {
    ...mapMutations({
      setUserName: 'SET_USER_NAME'
    }),
    checkForm() {
      this.alerts = []

      if(this.pass != this.pass2) {
        this.alerts.push('Passwords are not the same!')
        return
      }

      firebase.auth().createUserWithEmailAndPassword(this.email, this.pass)
        .then(data => {
          data.user
            .updateProfile({
              displayName: this.name
            })
            .then(() => {
              this.setUserName(this.name)
            });
        })
        .catch(err => {
          this.alerts.push(err.message)
        });
    }
  }
}
</script>