<template>
  <footer class="footer mt-auto">
    <div class="container">
      <p class="footer_text">
        Copyright 
        &nbsp;&nbsp;&copy;&nbsp;&nbsp; 
        2020. &nbsp;
        <a href="/" target="_blank">Privacy&nbsp;&nbsp;&nbsp;Policy</a>.
      </p>
    </div>
  </footer>
</template>

<style lang="scss">
.footer{
  background-color: rgba(192, 196, 206, 0.13);
  &_text{
    margin-bottom: 0;
    padding: 1.4rem 0 2.2rem;
    border-top: 1px solid rgba(151, 151, 151, 0.5);
    letter-spacing: 0.6px;
    color: #C0C4CE;
    a{
      color: inherit;
    }
  }
}
</style>