<template>
  <header class="header" :class="{'header_entry': isEntryPage, 'header_sign-up': isSignInPage}">
    <div class="container">
      <div class="row align-items-center">
        <div class="header_logo mr-auto">
          <router-link class="logo_icon" to="/"><logo :fill="getLogoColor"></logo></router-link>
        </div>

        <button 
          type="button" 
          class="burger" 
          :class="{open: isOpenMenu}" 
          v-if="windowWidth < 576" 
          @click="toggleMenu">
          <i></i><i></i><i></i>
        </button>

        <header-nav v-else></header-nav>
      </div>

      <header-filters v-if="isHomePage && windowWidth > 575"></header-filters>

      <div class="header_mob" :class="{open: isOpenMenu}" v-if="windowWidth < 576">
        <header-nav></header-nav>
        <header-filters v-if="isHomePage"></header-filters>
      </div>
    </div>
  </header>
</template>

<script>
import Logo from '@/components/icons/Logo'
import HeaderNav from '@/components/HeaderNav'
import HeaderFilters from '@/components/HeaderFilters'

export default {
  components: {
    Logo,
    HeaderNav,
    HeaderFilters
  },
  data() {
    return {
      windowWidth: window.innerWidth,
    }
  },
  computed: {
    isEntryPage() {
      return this.$route.name == 'Log In' || this.$route.name == 'Sign Up'
    },
    isHomePage() {
      return this.$route.name == 'Home'
    },
    isSignInPage() {
      return this.$route.name == 'Sign Up'
    },
    getLogoColor() {
      return this.isEntryPage ? '#000' : '#fff'
    },
    isOpenMenu() {
      return this.$store.state.isOpenMenu
    }
  },
  methods: {
    onResize() {
      this.windowWidth = window.innerWidth
    },
    toggleMenu() {
      this.$store.commit('toggleMenu')
    }
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })
  }
}
</script>

<style lang="scss">
.header{
  position: relative;
  padding: 1.3rem 0 1rem;
  background: linear-gradient(180deg, #090810 0%, #171236 100%);
  @media screen and (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  &_entry{
    background: none;
    .burger{
      i{
        background-color: #000;
      }
    }
    .header_mob{
      background: #F2F2F2;
    }
  }
  &_sign-up{
    .logo_icon{
      color: #FF9900;
      &:hover{
        color: #349A89;
      }
    }
  }
  &_mob{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 30px;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    overflow: hidden;
    background: linear-gradient(180deg, #090810 0%, #171236 100%);
    transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
    &.open{
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
.logo_icon{
  color: #349A89;
  &:hover{
    color: #FF9900;
  }
}
.burger{
  position: relative;
  padding: 1.5rem;
  outline: none !important;
  font-size: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    width: 52%;
    height: 2px;
    background-color: #fff;
    transform: translate(-50%, -1px);
    transition: transform 0.3s, opacity 0.3s;
    &:first-child{
      transform: translate(-50%, -7px);
    }
    &:last-child{
      transform: translate(-50%, 5px);
    }
  }
  &.open{
    i{
      &:nth-child(2){
        opacity: 0;
      }
      &:first-child{
        transform: translate(-50%, -1px) rotate(45deg);
      }
      &:last-child{
        transform: translate(-50%, -1px) rotate(-45deg);
      }
    }
  }
}
</style>