<template>
  <form class="entry_card">
    <p class="entry_card_title" v-if="title">{{title}}</p>
    <slot></slot>
  </form>
</template>

<script>


export default {
  props: {
    title: {
      type: String
    }
  }
}
</script>

<style lang="scss">
.entry_card{
  width: 100%;
  max-width: 425px;
  margin-bottom: 1.4rem;
  padding: 1.5rem 1.7rem;
  background: #fff;
  box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111);
  border-radius: 0.5rem;
  &_title{
    margin-bottom: 1.4rem;
    font-size: 1.571rem;
  }
  &_descr{
    margin: 0.5rem 0;
    letter-spacing: 0.5px;
    a{
      color: #349A89;
    }
  }
  .btn{
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    font-size: 1.143rem;
  }
  .alert{
    margin-top: 0.5rem;
    font-size: 0.7143rem;
  }
}
</style>