<template>
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-9">
      <div class="row justify-content-between">
        <label class="header_filters_item header_filters_name">
          <icon-search class="header_filters_icon"></icon-search>
          <input type="text" class="form-control" placeholder="Search products by name" :value="storeName" @input="inputName">
        </label>
        <label class="header_filters_item header_filters_location">
          <icon-pin class="header_filters_icon"></icon-pin>
          <input type="text" class="form-control" placeholder="Location" :value="storeLocation" @input="inputLocation">
        </label>
        <div class="header_filters_item header_filters_btn">
          <button type="button" class="btn btn-secondary" @click="filtered">Search</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconSearch from '@/components/icons/IconSearch'
import IconPin from '@/components/icons/IconPin'

import { mapGetters, mapMutations } from 'vuex'

export default {
  components: {
    IconSearch,
    IconPin
  },
  data() {
    return {
      name: '',
      location: ''
    }
  },
  computed: {
    ...mapGetters({
      storeName: 'filters/name',
      storeLocation: 'filters/location',
    }),
  },
  methods: {
    ...mapMutations({
      closeMenu: 'closeMenu',
      filtersName: 'filters/name',
      filtersLocation: 'filters/location'
    }),
    inputName(e) {
      this.name = e.target.value
    },
    inputLocation(e) {
      this.location = e.target.value
    },
    filtered() {
      this.closeMenu()
      this.filtersName(this.name.toLowerCase())
      this.filtersLocation(this.location.toLowerCase())
    }
  }
}
</script>

<style lang="scss">
.header{
  &_filters{
    &_item{
      position: relative;
      .form-control{
        height: auto;
        padding: 1rem 1rem 0.84rem 3.7rem;
        font-size: 1.071rem;
        background-color: #fff;
      }
    }
    &_name{
      width: 55%;
      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
    &_location{
      width: 23%;
      @media screen and (max-width: 575px) {
        width: 49%;
      }
      .header_filters_icon{
        left: 0.6rem;
      }
      .form-control{
        padding-left: 2.6rem;
      }
    }
    &_btn{
      width: 20%;
      @media screen and (max-width: 575px) {
        width: 49%;
      }
      .btn{
        width: 100%;
        padding: 1rem 1rem 0.84rem 1rem;
        text-transform: uppercase;
      }
    }
    &_icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1.3rem;
      color: #5C5C5C;
    }
  }
}
</style>