<template>
  <div class="header_menu">
    <router-link to="/add-product" class="btn btn-primary px-5 mr-4 mt-1" role="button" v-if="user.name && isHomePage">&nbsp;+ ADD</router-link>
    <router-link to="/" class="btn btn-primary px-5 mr-4 mt-1" role="button" v-if="!isHomePage && !isAddPage">BUY</router-link>
    <user-card v-if="user.name"></user-card>
    <router-link to="/log-in" class="btn btn-link header_btn__login px-3 mt-1 text-white" role="button" v-if="!isEntryPage && !user.name">LOGIN</router-link>
    <router-link to="/favourite" class="btn btn-link header_btn__favourite px-3 text-white" role="button" v-if="user.name && !isFavoutitePage"><icon-heart></icon-heart></router-link>
  </div>
</template>

<script>
import IconHeart from '@/components/icons/IconHeart'

import UserCard from '@/components/UserCard'

import { mapGetters } from "vuex"

export default {
  components: {
    IconHeart,
    UserCard
  },
  computed: {
    isEntryPage() {
      return this.$route.name == 'Log In' || this.$route.name == 'Sign Up'
    },
    isHomePage() {
      return this.$route.name == 'Home'
    },
    isAddPage() {
      return this.$route.name == 'Add Product'
    },
    isFavoutitePage() {
      return this.$route.name == 'Favourite'
    },
    ...mapGetters({
      user: "user"
    })
  }
}
</script>

<style lang="scss">
.header{
  &_menu{
    .btn{
      padding-top: 0.29rem;
      padding-bottom: 0.28rem;
    }
  }
  &_btn{
    &__login{
      font-size: 0.8571rem;
      letter-spacing: 1.2px;
    }
    &_favourite{
      font-size: 0;
    }
  }
}
</style>