<template>
  <div class="main_filters row border rounded shadow-sm p-3">
    <label class="main_filters_item main_filters_category mr-0 mr-sm-4 mb-2 mb-sm-0">
      <icon-category class="main_filters_icon"></icon-category>
      <select class="custom-select" :value="category" @input="filtersCategory($event.target.value)">
        <option selected value="">Choose Category</option>
        <option v-for="(cat, i) in categories" :key="i">{{cat}}</option>
      </select>
    </label>
    <label class="main_filters_item main_filters_price_from mb-0">
      <input :value="priceFrom" @input="filtersPriceFrom($event.target.value)" type="number" step="0.01" class="form-control" placeholder="Price from (USD)">
    </label>
    <div class="main_filters_dash mx-sm-2 mx-0">&mdash;</div>
    <label class="main_filters_item main_filters_price_to mb-0">
      <input :value="priceTo" @input="checkPrice" type="number" step="0.01" class="form-control" placeholder="Price to (USD)">
    </label>
  </div>
</template>

<script>
import IconCategory from '@/components/icons/IconCategory'

import { mapGetters, mapMutations } from 'vuex'

export default {
  components: {
    IconCategory
  },
  computed: {
    ...mapGetters({
      categories: 'categories',
      priceFrom: 'filters/priceFrom',
      priceTo: 'filters/priceTo',
      category: 'filters/category'
    })
  },
  methods: {
    ...mapMutations({
      filtersCategory: 'filters/category',
      filtersPriceFrom: 'filters/priceFrom',
      filtersPriceTo: 'filters/priceTo'
    }),
    checkPrice(e) {
      if(parseInt(e.target.value) < parseInt(this.priceFrom))
        e.target.value = parseInt(this.priceFrom) + 1
      this.filtersPriceTo(parseInt(e.target.value))
    }
  }
}
</script>

<style lang="scss">
.main{
  &_filters{
    background-color: #fff;
    &_item{
      position: relative;
      width: 100%;
    }
    &_category{
      max-width: 285px;
      @media screen and (max-width: 767px) {
        max-width: 200px;
      }
      @media screen and (max-width: 575px) {
        max-width: none;
      }
    }
    &_price{
      &_from, &_to{
        max-width: 143px;
        @media screen and (max-width: 767px) {
          max-width: 130px;
        }
      }
    }
    .custom-select{
      padding-left: 2.7rem;
    }
    &_icon{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.8rem;
      color: #5C5C5C;
    }
    &_dash{
      padding-top: 0.4em;
      color: #DEDEE0;
    }
  }
}
</style>