<template>
  <div class="row products_row mt-3">
    <product-item v-for="item in productFilters" :key="item.id" :product="item"></product-item>
    <h3 v-if="products.length && productFilters.length == 0">Sorry) Not found products with this filters.</h3>
    <pre class="border text-left">{{products}}</pre>
  </div>
</template>

<script>
import ProductItem from '@/components/ProductItem'

import { mapGetters } from 'vuex'

export default {
  components: {
    ProductItem
  },
  computed: {
    ...mapGetters({
      products: 'products',
      name: 'filters/name',
      location: 'filters/location',
      category: 'filters/category',
      priceFrom: 'filters/priceFrom',
      priceTo: 'filters/priceTo'
    }),
    productFilters() {
      return this.products.filter((elem) => {
        if(this.name != ''){
          if(elem.title.toLowerCase().indexOf(this.name) == -1) return false
        }
        if(this.location != ''){
          if(elem.location.toLowerCase().indexOf(this.location) == -1) return false
        }
        if(this.category != ''){
          if(elem.category.toLowerCase().indexOf(this.category) == -1) return false
        }
        if(this.priceFrom != 0 || this.priceTo != Infinity){
          if(!(parseInt(elem.price) >= this.priceFrom && parseInt(elem.price) <= this.priceTo)) return false
        }
        return true
      })
    }
  },
  beforeMount() {
    this.$store.dispatch("getProducts")
  }
}
</script>

<style>
.products_row{
  margin-bottom: 10%;
}
</style>