<template>
  <div class="card">
    <div class="card-img_wrap">
      <img v-if="product.imgUrl" :src="product.imgUrl" class="card-img-top" alt="product">
      <img v-else src="https://via.placeholder.com/202x148.png?text=no+image" class="card-img-top" alt="product">
      <button class="card-favourite border-0 rounded-circle" :class="{active: isLove}" @click="toFavoutite"><icon-heart></icon-heart></button>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">${{product.price}}</p>
      <p class="card-category">Category: {{product.category}}</p>
    </div>
  </div>
</template>

<script>
import IconHeart from '@/components/icons/IconHeart'

import { mapGetters, mapMutations } from 'vuex'

export default {
  components: {
    IconHeart
  },
  props: {
    product: Object
  },
  computed: {
    ...mapGetters({
      favourites: 'favourites',
    }),
    isLove() {
      return this.favourites.find(id => id == this.product.id)
    },
  },
  methods: {
    ...mapMutations({
      setLove: 'setLove',
    }),
    toFavoutite() {
      this.setLove(this.product.id)
    }
  }
}
</script>

<style lang="scss">
  .card{
    width: 24.5%;
    margin-right: 0.6666%;
    margin-bottom: 0.7143rem;
    padding: 3px;
    box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.053);
    text-align: left;
    &:nth-child(4n){
      margin-right: 0;
    }
    @media screen and (max-width: 767px) {
      width: 32%;
      margin-right: 2%;
      &:nth-child(4n){
        margin-right: 2%;
      }
      &:nth-child(3n){
        margin-right: 0;
      }
    }
    @media screen and (max-width: 575px) {
      width: 49%;
      &:nth-child(3n){
        margin-right: 2%;
      }
      &:nth-child(2n){
        margin-right: 0;
      }
    }
    &-img{
      &_wrap{
        position: relative;
        width: 100%;
        padding-top: 73%;
      }
      &-top{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        object-fit: cover;
      }
    }
    &-body{
      padding: 0.45rem 0.5rem 0.2rem;
    }
    &-title{
      margin-bottom: 0.18rem;
      font-size: 1.071rem;
      color: #373738;
    }
    &-text{
      margin-bottom: 0;
      font-size: 1.357rem;
      font-weight: 700;
      letter-spacing: -0.6px;
      color: #101010;
    }
    &-category{
      font-size: 0.7143rem;
      color: rgb(100, 100, 100);
    }
    &-favourite{
      position: absolute;
      bottom: 0;
      right: 4px;
      transform: translateY(50%);
      padding: 0.5rem 0.465rem 0.56rem;
      color: #B7B7B7;
      background-color: #fff;
      font-size: 0;
      outline: none !important;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
      transition: box-shadow 0.15s ease-in-out;
      &:hover{
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);
      }
      svg{
        width: 1.214rem;
      }
      &.active{
        svg{
          fill: #349A89;
          stroke: #349A89;
        }
      }
    }
  }
</style>