<template>
  <div class="user_card rounded-circle mt-1 mr-2">
    {{getUserName}}
  </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
  computed: {
    ...mapGetters({
      user: "user"
    }),
    getUserName() {
      if(this.user.name){
        let name = this.user.name
        name = name.split(' ')
        name = name.length > 1 ? name[0][0] + name[1][0] : name[0][0]
        return name.toUpperCase()
      }else 
        return false
    }
  }
}
</script>

<style lang="scss">
.user_card{
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  background-color: #F1C40F;
}
</style>