<template>
  <app-header></app-header>
  <div class="container">
    <router-view class="page_content" />
  </div>
  <app-footer></app-footer>
</template>

<script>
import AppHeader from '@/components/AppHeader'
import AppFooter from '@/components/AppFooter'

export default {
  components: {
    AppHeader,
    AppFooter
  }
}
</script>

<style lang="scss">
@font-face{
  font-family: "Helvetica";
  src: url("./assets/fonts/HelveticaRegular.eot");
  src: url("./assets/fonts/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/HelveticaRegular.woff") format("woff"),
  url("./assets/fonts/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "Helvetica";
  src: url("./assets/fonts/HelveticaBold.eot");
  src: url("./assets/fonts/HelveticaBold.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/HelveticaBold.woff") format("woff"),
  url("./assets/fonts/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
html, body{
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: #F2F2F2;
}
@media (min-width: 1200px){
  .container{
    max-width: 1152px;
  }
}
.btn-primary{
  background-color: #349A89;
  border-color: #349A89;
  &:hover, &:focus{
    background-color: #2f8072;
    border-color: #2f8072;
    box-shadow: 0 0 0 0.2rem rgba(47, 128, 115, 0.5);
  }
}
.btn-secondary{
  background-color: #3E3961;
  border-color: #3E3961;
  &:hover, &:focus{
    background-color: #2c2946;
    border-color: #2c2946;
    box-shadow: 0 0 0 0.2rem rgba(44, 41, 70, 0.5);
  }
}
.btn-link{
  &:focus{
    box-shadow: none;
  }
}
.btn-primary.disabled, .btn-primary:disabled{
  background-color: #8b8b8b;
  border-color: #8b8b8b;
}
.custom-select,
.form-control{
  background-color: #F9FAFB;
}
.form-control:focus{
  border-color: #2f8072;
  box-shadow: 0 0 0 0.2rem rgba(47, 128, 115, 0.25);
}
#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.page_content{
  @media screen and (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
</style>
